* {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

a {
  text-decoration: none;
}

p {
  padding: 10px 0;
}

pre {
  padding: 10px 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;     
}

#header {
  border-bottom: 1px solid #fff;
  height: 52px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 81%;
  height: 50px;
}

.nav-link {
  padding: 27px 5% 0 5%;
}

#header-img {
  position: fixed;
  top: 1px;
  right: 1px;
  width: 51px;
  height: 51px;
  z-index: 1;
}

#header-img-hover {
  position: fixed;
  top: 1px;
  right: 1px;
  width: 51px;
  height: 51px;
  z-index: 0;
}

#top-link-trigger,
#lore-link-trigger,
#product-link-trigger {
  height: 55px;
}

#video-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#video {
  width: 97%;
  border: 3px solid #000;
}

#form {
  text-align: center;
  padding: 10px 0;
}

#email,
#submit {
  border: none;
  border-right: 1px solid #fff;
  border-bottom: 2px solid #fff;
}

#submit {
  cursor: pointer;
}

.pbc,
.product {
  width: calc(100% - 8px);
  margin: 3px;
}

.pbc {
  margin: 3px 3px 50px 3px;
}


.product,
.product-price {
  background-color: transparent;
}

.product {
  cursor: pointer;
}

.product-price {
  margin: 0 3px 3px 3px;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  #product-container {
    display: flex;
    justify-content: center;
  }
  #product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .pbc {
    width: 250px;
    height: 285px;
  }
}

@media screen and (min-width: 560px) {
  #video {
    width: 560px;
    height: 315px;
  }
}


